<form ng-submit="addQuestion()">
	<h3>Add new question:</h3>
	<div class="form-group">
		<span>User: </span>
		<select ng-model="data.userId">
			<option ng-repeat="user in users.userList()" value="{{user._id}}">{{user.name}}</option>
		</select>
	</div>
	<div class="form-group">
		<input type="text" 
				placeholder="Title" 
				ng-model="data.title"
				class="form-control" />
	</div>
	<div class="form-group">
		<textarea placeholder="Content" 
				ng-model="data.content" 
				class="form-control"></textarea>
	</div>
	<div class="form-group">
		<input type="text" 
				placeholder="Tags"
				ng-model="data.tags"
				class="form-control" />
	</div>
	<button type="submit" class="btn btn-primary">Post</button>
</form>